.FullPost {
    width: 70%;
    margin: 40px auto;
}


.Edit button {
    margin: 50px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
    position: absolute;
    right: 50%;
}

.Edit button:hover,
.Edit button:active {
    color: white;
    background-color: #fa923f;
}

.title {
    /* font-family: 'Alfa Slab One', cursive;
    font-family: 'Permanent Marker', cursive; */
    font-family: 'Ultra', serif;
    font-size: 1.75rem;
    text-align: center;
    color: #EEC5B0;
}
.body {
    margin-top:7% ;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #e25a5d;
}
.comment {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 3%;
    text-align: center;
    color: #b9b4b2;
}